<html>
    <head>
        <% include ../partial/head.ejs %>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Great Thoughts Blog</h1>
                <p>This is the description</p>
            </div>
        </div>
        
        <% include ../partial/navbar.ejs %>
        
        <div class="container">
            <p>This is an ametuer blog setup that is intended to allow me dibble out my silly ideas and outragous number of hobbies.</p>
            
            <p>I have tried to set it up with the ability to make scientific blog articles about the various topics if that is the case. I have also had to create my own way of doing things as there is no real consensis about how this is done.</p>
            
            <p>As part of this about page there will be directions on how to put things together on this blog site. Mostly so I don't for get how to do it.</p>
        </div>
    </body>
</html>