<html>
    <head>
        <% include ../partial/head.ejs %>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Great Thoughts Blog</h1>
                <p>This is the description</p>
            </div>
        </div>
        
        <%- include ../partial/navbar.ejs %>
        
        <div class="container">
            <div class="col-sm-9">
                <select>
                    <% for(var i=0; i<currentPosts.length; i++) {%>
                    <option value="<%=currentPosts[i]._id%>"><%= currentPosts[i].title%></option>
                    <% } %>
                </select>
                
                <form action="/category/create" method="POST">
                    <input type="text" name="name" placeholder="Category Name" />
                    <label>Description:</label><br />
                    <textarea class="form-control input-md" name="description" rows="10" cols="120"></textarea><br />
                    <input type="submit" name="Add Category" />
                </form>
            </div>
            <div class="col-sm-3">
                This is the sidebar.
            </div>
        </div>
        
        <footer class="container-fluid text-center">
            <p>Online Store Copyright</p>  
            <form class="form-inline">Get deals:
                <input type="email" class="form-control" size="50" placeholder="Email Address">
                <button type="button" class="btn btn-danger">Sign Up</button>
            </form>
        </footer>
    </body>
</html>