<html>
    <head>
        <title>Thoughts</title>
        <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        
        <style>
            .jumbotron {
                margin-bottom: 0px;
            }
            
            .navbar {
                border-radius: 0px;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Great Thoughts Blog</h1>
                <p>This is the description</p>
            </div>
        </div>
        
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>
                <div class="navbar-brand"><img src="testicon.png"></div>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Posts</a></li>
                    <li class="active"><a href="/Post/edit">My Posts</a></li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <div class="col-sm-9">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique, felis a fermentum rutrum, diam ante aliquet odio, eget porttitor nibh mi quis leo. Nulla in erat bibendum enim rhoncus placerat. Maecenas vel erat suscipit felis mattis efficitur interdum eget felis. Duis convallis ex in lectus ornare, id sagittis tellus sodales. Pellentesque rhoncus ut ligula volutpat semper. Vestibulum sem dui, fermentum eu viverra eget, bibendum fermentum felis. Vestibulum vel arcu odio. Suspendisse potenti.</p>

<p>Cras convallis dignissim turpis vel faucibus. Nam facilisis at odio ut cursus. Mauris sit amet est at metus tempus tempus. Phasellus consectetur lorem et nisi mollis egestas. Duis ut luctus enim. Nam vestibulum, sem eget feugiat dapibus, risus ipsum auctor ipsum, et consequat leo risus non magna. Cras tristique eros quam, ac pretium enim dictum at. Morbi commodo, mi in efficitur mattis, nunc felis mattis elit, at consectetur lorem magna vel lectus. Ut ullamcorper ultricies feugiat. Aliquam bibendum lacus tincidunt turpis faucibus venenatis. In pretium, est vel sodales semper, purus ante sagittis sapien, eu auctor lorem lacus id turpis.</p>

<p>Vivamus id bibendum eros. Phasellus quis leo sed diam hendrerit auctor a eu neque. Etiam ut augue pretium, rhoncus nibh sed, ornare mauris. Praesent congue consequat sem et posuere. Sed eget elementum metus. Nullam eleifend eleifend imperdiet. Suspendisse facilisis turpis sed urna sodales, et luctus mauris dignissim. Vestibulum ut erat non lorem porttitor venenatis sit amet nec urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut turpis quis turpis eleifend molestie pellentesque ac nibh. Mauris tempor felis vitae lacus efficitur suscipit. Fusce tristique metus vitae mi cursus viverra. Quisque rutrum turpis vitae dolor ultricies vehicula.</p>

<p>Quisque tempus nisl vestibulum tellus efficitur ultrices. Duis tincidunt semper dolor ac mollis. Mauris faucibus magna non odio dictum eleifend. Donec suscipit vulputate nibh in suscipit. Duis accumsan hendrerit varius. Duis eu nisi sit amet elit suscipit ultricies. Donec et bibendum mi. Quisque egestas, ligula non ultricies suscipit, ipsum mi dapibus mi, et laoreet diam lectus blandit neque. Phasellus odio odio, rhoncus non convallis vitae, aliquam eget elit. Vestibulum nulla nunc, euismod ut hendrerit vitae, tempus non elit.</p>

<p>Integer pellentesque mollis fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur porttitor turpis tortor, ullamcorper hendrerit nisl vulputate quis. Vivamus lacinia tellus vitae urna ultrices consequat. Praesent pretium, nisi non bibendum ullamcorper, mauris arcu vestibulum leo, in tempus purus erat sit amet mauris. Nulla sagittis quam a ultrices consequat. Vivamus id risus dui. Vestibulum ultricies nec nulla vitae venenatis. Pellentesque vitae nunc eget augue convallis fermentum. Praesent tincidunt augue fermentum eros gravida, vitae interdum erat pretium.</p>

<p>Donec pulvinar non arcu non pharetra. Vivamus rutrum pulvinar leo, vel laoreet odio pretium eu. Phasellus nec arcu non velit faucibus viverra. Donec interdum tortor vitae turpis rhoncus, vel accumsan velit gravida. Sed nec mi quis ipsum fringilla pellentesque. Nulla facilisi. Vivamus aliquet congue sapien, quis laoreet metus volutpat vitae. Nulla ornare lorem eget urna imperdiet, sed dapibus urna ultricies. Nulla iaculis, magna sit amet fermentum accumsan, felis nulla suscipit nibh, id placerat nibh risus ut lacus. Integer at felis tincidunt, aliquet lectus sit amet, blandit turpis. Mauris fermentum et purus ac placerat. Suspendisse tristique tortor vel nunc bibendum scelerisque. Vestibulum ullamcorper nisi id lorem pulvinar lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi volutpat lectus blandit imperdiet ultrices. Donec faucibus quam sapien, et volutpat lacus vulputate ut.</p>

<p>Nullam magna nibh, congue a orci vel, posuere maximus dolor. In pharetra risus quis ligula blandit mollis. Fusce a diam malesuada, dapibus nisi eleifend, feugiat nisi. Nullam sed metus id est sodales mattis sed ut urna. Nam tincidunt tincidunt ultrices. Mauris sit amet enim mauris. Aliquam dictum nisi a augue feugiat, at fermentum purus imperdiet. Cras tincidunt ultricies mi, efficitur gravida magna ullamcorper a. Donec vitae est elementum nisl dignissim ultrices sit amet ac nunc. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id nisl at orci viverra efficitur a sed odio. Nullam molestie faucibus auctor. Sed a turpis id nisl sodales suscipit vel sit amet metus.</p>

<p>Cras sapien sem, ullamcorper et imperdiet in, pulvinar vel felis. Nam fringilla ornare ex, pharetra egestas est pellentesque a. Proin ex turpis, viverra vitae fringilla et, tristique nec turpis. Ut egestas neque non dui posuere, non molestie leo eleifend. Aliquam gravida tortor quis ligula varius maximus. Ut vitae tincidunt lacus, feugiat hendrerit magna. In viverra augue in erat rutrum lobortis. Suspendisse efficitur bibendum nunc at mattis. Morbi ornare arcu a libero varius malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

<p>Donec scelerisque placerat interdum. Praesent varius aliquet neque nec venenatis. Mauris semper consectetur nunc ultrices suscipit. Nulla mattis ipsum nec finibus hendrerit. Mauris sed urna sit amet nulla posuere facilisis et quis arcu. Etiam eu euismod risus, sit amet convallis nulla. Nunc non hendrerit velit. Cras malesuada posuere odio. Donec efficitur tortor sed ex convallis, eget ornare nisl imperdiet. Sed sit amet tortor eu odio congue varius vel sit amet risus. Aenean finibus mi vel aliquet viverra.</p>

<p>Donec et dapibus ante. Nullam blandit efficitur urna. Mauris vehicula erat sed massa porta hendrerit. In hac habitasse platea dictumst. Suspendisse potenti. Integer arcu magna, pellentesque et lacus in, convallis luctus leo. Suspendisse potenti. Mauris eu elit libero. Suspendisse a est eget ante vulputate rhoncus ut sit amet quam. Nullam a faucibus massa. Morbi fermentum erat turpis. Nulla et gravida dui, maximus hendrerit felis. Curabitur pellentesque ipsum vitae eros condimentum, at tincidunt felis sagittis.</p>
            </div>
            <div class="col-sm-3">
                This is the sidebar.
            </div>
        </div>
        
        <footer class="container-fluid text-center">
            <p>Online Store Copyright</p>  
            <form class="form-inline">Get deals:
                <input type="email" class="form-control" size="50" placeholder="Email Address">
                <button type="button" class="btn btn-danger">Sign Up</button>
            </form>
        </footer>
    </body>
</html>