<html>
    <head>
        <% include ../partial/head.ejs %>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container text-center">
                <h1>Great Thoughts Blog</h1>
                <p>This is the description</p>
            </div>
        </div>
        
        <%- include ../partial/navbar.ejs %>
        
        <div class="container">
            <div>
                <!-- This syntax for the ejs is for non-escaped strings. This will render HTML in the post content as actual HTML. -->
                <%-post%>
            </div>
        </div>
        
        <footer class="container-fluid text-center">
            <p>Online Store Copyright</p>  
            <form class="form-inline">Get deals:
                <input type="email" class="form-control" size="50" placeholder="Email Address">
                <button type="button" class="btn btn-danger">Sign Up</button>
            </form>
        </footer>
    </body>
</html>