<title>Thoughts</title>
<link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>

<style>
    .jumbotron {
        margin-bottom: 0px;
    }

    .navbar {
        border-radius: 0px;
    }
    
    .form-control {
        margin-bottom: 10px;
    }
</style>