<title>Thoughts</title>
<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<style>
    .jumbotron {
        margin-bottom: 0px;
    }

    .navbar {
        border-radius: 0px;
    }
</style>