<title>Thoughts</title>
<link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<style href="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/fonts/HTML-CSS" rel="stylesheet"/>

<style>
    .jumbotron {
        margin-bottom: 0px;
    }

    .navbar {
        border-radius: 0px;
    }
    
    .form-control {
        margin-bottom: 10px;
    }
</style>